div.tooltip {
  position: absolute;
  text-align: left;
  /* width: 150px;
  height: 25px; */
  padding: 4px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  border: 2px;
  border-radius: 0px;
  pointer-events: none;
}

h1 {
  margin-bottom: -11px;
  right: -70px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  fill: rgb(0, 0, 0);
  text-align: left;
  word-break: break-word;
}

h2 {
  margin-bottom: -2px;
  right: -70px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  fill: rgb(20, 20, 20);
  text-align: left;
  word-break: break-word;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
